{% extends 'base.html.twig' %}

{% block body %}

<h1>Creation d'un Client</h1>

{{form_start(form)}}

{{ form_rest(form) }}
<div>
    <input type="submit" name="" value="Enregistrer" class="btn btn-primary">
    </div>
{% endblock %}
