{% extends 'base.html.twig' %}

{% block body %}

<h1>modifier un Client</h1>

{{form_start(form)}}

{{ form_rest(form) }}
<div>
    <input type="submit" name="" value="modifier" class="btn btn-primary">
    </div>
{% endblock %}
