{% extends 'base.html.twig' %}

{% block body %}

<h1>Modifier une Agence</h1>

{{form_start(form)}}

{{ form_rest(form) }}
<div>
    <input type="submit" name="" value="Modifier" class="btn btn-primary">
    </div>
{% endblock %}
