{% extends 'base.html.twig' %}

{% block title %}Hello FactureController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <h1>Facture</h1>
<ul>
    {% for facture in Factures%}
        <li><b>Montant: </b>{{facture.getmontant|e}} DT<b> payement: </b>{{facture.payee|e}} </li>
    {% endfor %}
</ul>
</div>
{% endblock %}
